.tab {
    -fx-pref-width: 330;
    -fx-background-color: #41c85e;
    
} 

.tab-pane .tab-label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.tab:selected {
    -fx-background-color: #2c9041;
}

.tab-header-background {
    -fx-background-color:transparent;
    -fx-text-alignment: center;
}

.tab-pane{
    -fx-background-color: #2c9041;
    -fx-padding: 0 -1 -1 -1
}

.fondo{
    -fx-background-color:  #225e87;
    -fx-border-color: #51114a;
    -fx-border-width: 2;
}

.botones{
    -fx-background-color:  #b8dffa;
    -fx-border-color: #51114a;
    -fx-border-width: 2;
}

.titulo{
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.texto{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.label-fijo {
    -fx-min-width: 650;     
    -fx-pref-width: 650;
    -fx-max-width: 650;
    -fx-wrap-text: true;
    -fx-max-height: Infinity;
    -fx-text-fill: black;
    -fx-background-color: #81c279;
    -fx-padding-width: 2 2 2 2;
    -fx-border-width: 4 0 4 0;
    -fx-border-color: #19850c transparent #19850c transparent;
}