.tab {
    -fx-pref-width: 220;
    -fx-background-color: #41c85e;
    
} 

.tab-pane .tab-label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.tab:selected {
    -fx-background-color: #2c9041;
}

.tab-header-background {
    -fx-background-color:transparent;
    -fx-text-alignment: center;
}

.tab-pane{
    -fx-background-color: #2c9041;
    -fx-padding: 0 -1 -1 -1
}

.fondo{
    -fx-background-color: #2c9041;
    -fx-padding: 0 -1 -1 -1
}


.panelBotones{
    -fx-background-color: #205f76
}

.botones{
    -fx-background-color: #8e5d16;
    -fx-font-weight: bold;
}